* {
  font-size: $default;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 10px;
}
 
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

body {
  background: url("../img/background.png") #f9f9f9;
  background-size: 300px;
  color: #333;
  font-size: $default;
  font-family: 'Roboto', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}