.form {
  position: relative;

  &__input {
    padding: 10px 20px;
    border-radius: 20px;;
    border: none;
    background: rgba(0, 0, 0, 0.05);
    width: 450px;
    outline: none;

    &--search {
      padding-left: 40px;
    
      @media screen and (max-width: 767px) {
        width: 85%;
      }
    }
  }

  &__search-icon {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    margin-left: 10px;
    transform: translateY(-50%);
  }

  &__sort-icon {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    margin-left: 10px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.05);
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
  }
}